lint-build:
  image: node:10.16
  stage: build
  before_script:
    - npm install
    - npm install -g gulp
  script:
    - gulp build #skipping lint for now cos it's broken

docker:
  image: docker:latest
  stage: deploy
  services:
    - docker:dind
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
    - docker build --pull -t "$CI_REGISTRY_IMAGE" -f Dockerfile .
    - docker push "$CI_REGISTRY_IMAGE"
  only:
    - master
    - tags
    